ul{
    list-style-type: none;
}
li{
    display: flex;
    width: 7rem;
    float:left;
    padding: 5px;
    background-color: aliceblue;
    margin: 3px;
    justify-content: space-around;
}

h4{
    display: flex;
    justify-content: center;

}
.component-header{
    display: flex;
    flex-direction: column;
}
.component-btn{
    flex-direction: row;
}
.tags{
    margin-top: 10px;
}

.component{
    background-color: aliceblue;
    padding: 1rem;
}