ul{
    list-style-type: none;
}
li{
    display: block;
    float:left;
    padding: 5px;
    background-color: aliceblue;
    margin: 3px;
}
h2{
    display: flex;
    justify-content: center;

}
.component-header{
    display: flex;
    flex-direction: column;
}
.component-btn{
    flex-direction: row;
}
/* .red{
    color: red;
}
.blue{
    color: blue;
} */